.App {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.PredictionTable {
  width: 100%;
}

.PredictionTable .count {
  font-size: 1.2em;
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px;
  background-color: #AAAAAA;
}

.PredictionItem {
  padding: 25px 15px;
  color: #FFFFFF;
  overflow: auto;
}

.PredictionItem .left {
  float: left;
  vertical-align: top;
  margin: 0;
}

.PredictionItem .line {
  font-size: 1.2em;
}

.PredictionItem .status {
  margin-top: 5px;
  font-size: 0.8em;
}

.PredictionItem .right {
  float: right;
  text-align: right;
}

.PredictionItem .arrival {
  font-size: 3em;
  line-height: 1em;
}
